.resume {
  padding: 2%;
  width: 297mm;
  height: 210mm;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  padding: 10mm;

  font-size: 11px;
}

.left {
  width: 50%;
  padding-right: 1%;

  .header {
    text-align: left;
    margin-bottom: 20px;
  }

  .header h1 {
    font-size: 24px;
  }
}

.right {
  width: 50%;

  .motivation-requests {
    height: 50%;
    display: flex;
    flex-flow: column;
  }
}
