.details {
  display: flex;
  justify-content: space-between;
  width: 100%;

  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;

  margin-bottom: 20px;

  & .details-left {
    width: calc(100% - 30%);
    border-right: 1px solid #000;

    & .details-left-birthdate {
      height: 44px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #000;
      font-size: 12px;
    }

    .address1 {
      border-bottom: 1px solid #000;

      .furigana {
        padding-left: 4px;
        height: 22px;
        display: flex;
        border-bottom: 1px dotted #000;

        & .value {
          padding-left: 4px;
        }
      }

      .kanji {
        .up {
          display: flex;
          height: 22px;

          & .label {
            padding-left: 4px;
          }

          & .value {
            padding-left: 4px;
          }
        }

        .down {
          display: flex;
          height: 44px;
          padding-left: 4px;
          font-size: 12px;
        }
      }
    }

    .address2 {
      .furigana {
        padding-left: 4px;
        height: 22px;
        display: flex;
        border-bottom: 1px dotted #000;

        & .value {
          padding-left: 4px;
        }
      }

      .kanji {
        .up {
          display: flex;
          height: 22px;

          & .label {
            padding-left: 4px;
          }

          & .value {
            padding-left: 4px;
          }
        }

        .down {
          display: flex;
          height: 44px;
          padding-left: 4px;
          font-size: 12px;
        }
      }
    }
  }

  & .details-right {
    width: 30%;

    & .seibetsu {
      height: 44px;
      border-top: 2px solid #000;
      border-bottom: 1px solid #000;
      padding: 4px;
    }

    & .phone-email1 {
      height: 88px;
      border-bottom: 1px solid #000;
      padding: 4px;

      & .email {
        & .value {
          word-wrap: break-word;
          color: blue;
          text-decoration: underline;
        }
      }
    }

    & .phone-email2 {
      height: 88px;
      padding: 4px;

      & .email {
        & .value {
          word-wrap: break-word;
          color: blue;
          text-decoration: underline;
        }
      }
    }
  }
}
